/* 
font-family: 'Abyssinica SIL', serif;
font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif;
*/

body {
    padding: 5% 10%;
    min-height: 100vh;
}
.line1 {
    display: inline-block;
}
.col-6 {
    display: flex;
    align-items: center;
    justify-content: end;
}
h1 {
    text-align: center;
    font-family: "Courgette", cursive;
    font-size: 3rem;
}
.submit {
    margin-top: 10px;
    width: 100%;
}
.color-palette {
    margin-top: 20px;
    padding: 0 12px;
}
.color-palette div {
    height: 70px;
    display: flex;
    align-items:flex-end ;
    justify-content: end;
}
p {
    padding: 6px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
}
@media only screen and (min-width: 768px) {
    h1 {
        text-align: left;
    }
    .color-palette {
        margin: 0;
        height: 100%;
    }
    .color-palette div {
        height: calc(100%/4);
        display: flex;
        align-items:flex-end ;
        justify-content: end;
    }
    p {
        padding: 6px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 0;
    }
}
img {
    max-height: 100%;
    max-width: 100%;
}
.content {
    margin-top: 25px;
}